QLineEdit[state="error"]{
    background-color:#ff9999;
}

QLineEdit[state="success"]{
    background-color:#99ff99;
}

QLabel[state="error"]{
    color:#ff0000;
}

QSpinBox[state="error"]{
    background-color:#ff9999;
}

QStatusBar{
    border-top: 1px outset grey;
}

QLabel[feature_enable=true] {
    color:green;
}

QLabel[feature_enable=false] {
    color:red;
}

QSplitter::handle {
    background-color: #ccc;
}

QLineEditIconButton:hover {
     background: grey;
}
