
html, body {
    border: 0px;
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    color: #000000;
    font-family: "Segoe UI", "Helvetica Neue", Arial;
}

template{
    display: none;
}

#layout-container{
    position: absolute;
    margin: 0;
}


#menubar{
    border: 1px solid black;
    
    position: absolute;
    margin: 0;
    padding: 0;
    top: 0px;
    width: 100%;
    height: 25px;
    overflow: hidden;
    background-color: #f3f3f3;
    color: #000;
}

#menubar_corner_filler{
    display: inline-block;
}

.menubar_item {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
    margin: auto;
    text-align: center;
    vertical-align: top;
    height: 100%;
    cursor: pointer;
}

#menubar .menubar_item:hover {
    
}

.menubar_item .menubar_label {
    display: inline-block;
}

#menubar .vertical_separator {
    display: inline-block;
    border-left: thin solid #ccc;
    height: 100%;
}

#sidemenu{
    border-right: thin solid #ccc;
    position:absolute;
    margin: 0;
    padding: 2px;
    padding-right: 2px;
    padding-top: 15px;
    top: 32px;
    left: 0;
    width:80px;
    height: 100%;
    overflow: hidden;
    background-color: #f3f3f3;
    color: #000;
}

#statusbar{
    border-top: thin solid #999;
    position: absolute;
    margin: 0;
    bottom: 0px;
    width: 100%;
    overflow: hidden;
    padding: 0;
    background-color: #f3f3f3;
}


.status_bar_item{
    display: inline-block;
    width: auto;
    margin-top: 0px;
    margin-right: 10px;
    margin-left: 10px;
    padding: 0px;
    height: 100%;
   
}

.status_bar_item img{
    vertical-align: middle;

}

.status_bar_label{
    display: inline-block;
}

#statusbar .vertical_separator{
    display: inline-block;
    width: 0px;
    border-left: thin solid #000;
    height: 100%;
    padding: 0;
    margin: 0;
}

#loaded_firmware_label{
    cursor: auto;
}

.widget_draggable_item
{
    margin: auto;
    display: block;
    padding-bottom: 5px;
    padding-bottom: 5px;
    cursor: move;
    border-radius: 10px;
}

.widget_draggable_item:hover{
    background-color: #999999;
    color: #fff;
    

}

.widget_draggable_item img
{
    margin: auto;
    display: block;

}

.widget_draggable_label{
    text-align: center;
    display: inline-block;
}


#sidemenu .horizontal_separator{
    width: 80%;
    border-top: thin solid #ccc;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3px;
    margin-bottom: 3px;
}


#modal-container {
  display: none; 
  position: fixed; 
  z-index: 1; 
  padding-top: 100px; 
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
}

#modal-window {
    background-color: #fefefe;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    border: thin solid #888;
    width: 80%;
    min-height: 25%;
    max-height: 80%;
    overflow-y: auto;
    border-radius: 10px;
}

#modal-content{
    padding-top: 20px;
    padding-bottom: 20px;
}

#modal-window-header{
    border: thin solid black;
    font-size: 1.8em;
    font-weight: bold;
    text-align: center;
    background-color: #999999;
    color: #fff;
    border-radius: 5px;
    vertical-align: middle;
}



/* The Close Button */
#modal-close-btn {
    float: right;
    margin-right: 10px;
    display: inline-block;
    opacity: 0.6;
    cursor: pointer;
    border-radius: 5px;
}

#modal-close-btn:hover,
#modal-close-btn:focus {
    opacity: 1.0;
    background-color: #aad;

}



.styled-table{
    border-collapse: collapse;
    margin-top: 20px;
    margin-bottom: 20px;  
    min-width: 400px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}


.firmware-detail-table{
    margin-left: auto;
    margin-right: auto;
    font-size: 1.2em;
}